.Header{
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
.Header__sort-filter{
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbe0f3;
}
/*button{*/
/*    color: #FFF;*/
/*    background-color: #af48ff;*/
/*    margin: 10px;*/
/*}*/