@font-face {
    font-family: 'GilroyBold';
    src: url('./GilroyBold.eot');
    src: url('./GilroyBold.eot') format('embedded-opentype'),
    url('./GilroyBold.woff2') format('woff2'),
    url('./GilroyBold.woff') format('woff'),
    url('./GilroyBold.ttf') format('truetype'),
    url('./GilroyBold.svg#GilroyBold') format('svg');
}
